language: elixir
elixir: '1.7.3'
otp_release: '21.1'
env:
  - MIX_ENV=test

script:
  - mix coveralls.html
  - '[[ -n "$LEGACY_ELIXIR" ]] || mix credo --strict'

matrix:
  include:
    - elixir: '1.3.4'
      otp_release: '18.3'
      env: LEGACY_ELIXIR=1

    - elixir: '1.3.4'
      otp_release: '19.3.6'
      env: LEGACY_ELIXIR=1

    - elixir: '1.4.5'
      otp_release: '18.3'

    - elixir: '1.4.5'
      otp_release: '19.3.6'

    - elixir: '1.4.5'
      otp_release: '20.0'

    - elixir: '1.5.1'
      otp_release: '19.3.6'

    - elixir: '1.6.6'
      otp_release: '19.3.6'

    - elixir: '1.6.6'
      otp_release: '20.3.6'

    - elixir: '1.7.3'
      otp_release: '20.3.6'
